body {
    background-color: #6F8CAE;
    line-height: 2.0;
}

p {
    margin-bottom: 0;
}

.container {
    position: relative;
    max-width: 100%;
}

.col,
.col-md-4,
.col-xs {
    border: 2px solid #6F8CAE;
}

.col-1 {
    border-right: 2px solid white;
}

.col-5 {
    padding-right: 0;
}

.col-6 {
    padding-left: 0;
}

.color_gradient {
    background-color: #587390;
    color: white;
    background: linear-gradient(to bottom, #8195ab 0%, #597491 100%);
}

.font-family {
    font-family: Andale Mono, monospace;
}

.reverse_color_gradient {
    background: linear-gradient(to top, #6e87a9 0%, #587390 100%);
}

.alarm_column,
.list-group {
    height: 70px;
    border: none;
    background-color: #6783A3;
}

.shedule_column {
    color: white;
    height: 55px;
    border: none;
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar {
    position-left: 30px;
    position-right: 30px;
}

.image {
    width: 100%;
    height: 250px;
}

.shedule {
    width: 100%;
    height: 110px;
}

.text_end {
    position: absolute;
    top: 8px;
    right: 16px;
}

.text_center {
    position: absolute;
    top: 10%;
    left: 30%;
}

.color_turquoise {
    color: #AAEAF1;
}

.color_grey {
    color: #9CA0AA;
}

.large_font {
    font-size: 25px;
}

.medium_font {
    font-size: 20px;
}

.small_font {
    font-size: 12px;
}

.medium_height {
    height: 100px;
}

.small_height {
    height: 65px;
}

.text_right {
    text-align: right;
}

.caption_delelimeter_line {
    width: 100%;
    background-color: #4A617A;
    margin: 0;
}