body {
    background-color: #6F8CAE;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.col,
.col-md-4,
.col-xs {
    border: 2px solid #6F8CAE;
}

.column {
    background-color: #587390;
    color: white;
    font-family: Andale Mono, monospace;
    background: rgba(140, 174, 200, 1);
    background: -moz-linear-gradient(top, rgba(140, 174, 200, 1) 0%, rgba(113, 138, 172, 1) 0%, rgba(88, 115, 144, 1) 62%, rgba(88, 115, 144, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(140, 174, 200, 1)), color-stop(0%, rgba(113, 138, 172, 1)), color-stop(62%, rgba(88, 115, 144, 1)), color-stop(100%, rgba(88, 115, 144, 1)));
    background: -webkit-linear-gradient(top, rgba(140, 174, 200, 1) 0%, rgba(113, 138, 172, 1) 0%, rgba(88, 115, 144, 1) 62%, rgba(88, 115, 144, 1) 100%);
    background: -o-linear-gradient(top, rgba(140, 174, 200, 1) 0%, rgba(113, 138, 172, 1) 0%, rgba(88, 115, 144, 1) 62%, rgba(88, 115, 144, 1) 100%);
    background: -ms-linear-gradient(top, rgba(140, 174, 200, 1) 0%, rgba(113, 138, 172, 1) 0%, rgba(88, 115, 144, 1) 62%, rgba(88, 115, 144, 1) 100%);
    background: linear-gradient(to bottom, rgba(140, 174, 200, 1) 0%, rgba(113, 138, 172, 1) 0%, rgba(88, 115, 144, 1) 62%, rgba(88, 115, 144, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8caec8', endColorstr='#587390', GradientType=0);
}

.alarm_column {
    height: 70px;
    border: none;
}

.navbar {
    position-left: 30px;
    position-right: 30px;
}

.image {
    padding-right: 47px;
    padding-left: 47px;
    width: 100%;
    height: 250px;
}

.shedule {
    width: 100%;
    height: 110px;
}

.text-align {
    text-align: end;
}

.color_turquoise {
    color: #AAEAF1;
}

.color_grey {
    color: #9CA0AA;
}

.large_font {
    font-size: 35px;
}

.medium_font {
    font-size: 25px;
}

.small_font {
    font-size: 12px;
}