body {
    background-color: #6F8CAE;
    margin-right: auto;
    margin-left: auto;
    line-height: 2.0;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.col,
.col-md-4,
.col-xs {
    border: 2px solid #6F8CAE;
}

.color_gradient {
    background-color: #587390;
    color: white;
    font-family: Andale Mono, monospace;
    background: linear-gradient(to bottom, #8195ab 0%, #597491 100%);
}

.reverse_color_gradient {
    background: linear-gradient(to top, #6e87a9 0%, #587390 100%);
}

.alarm_column {
    height: 70px;
    border: none;
    background-color: #6783A3;
}

.navbar {
    position-left: 30px;
    position-right: 30px;
}

.image {
    padding-right: 47px;
    padding-left: 47px;
    width: 100%;
    height: 250px;
}

.shedule {
    width: 100%;
    height: 110px;
}

.text-align-end {
    float: right;
}

.text-align-center {
    text-align: center;
}

.color_turquoise {
    color: #AAEAF1;
}

.color_grey {
    color: #9CA0AA;
}

.large_font {
    font-size: 35px;
}

.medium_font {
    font-size: 25px;
}

.small_font {
    font-size: 12px;
}

.size_height {
    height: 70px;
}